{% extends 'base.html.twig' %}

{% block title %}Apropos index{% endblock %}

{% block body %}
    <h1>Apropos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Description</th>
                <th>Logo</th>
                <th>Image</th>
                <th>PhoneNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for apropo in apropos %}
            <tr>
                <td>{{ apropo.id }}</td>
                <td>{{ apropo.email }}</td>
                <td>{{ apropo.name }}</td>
                <td>{{ apropo.description }}</td>
                <td>{{ apropo.logo }}</td>
                <td>{{ apropo.image }}</td>
                <td>{{ apropo.phoneNumber }}</td>
                <td>
                    <a href="{{ path('app_apropos_show', {'id': apropo.id}) }}">show</a>
                    <a href="{{ path('app_apropos_edit', {'id': apropo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_apropos_new') }}">Create new</a>
{% endblock %}
